@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Mukta:wght@700&family=Poppins:ital,wght@0,400;0,700;1,200;1,300;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url("https://img.freepik.com/free-vector/maths-chalkboard_23-2148178220.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1697155200&semt=sph");
}
.container
{
    position: relative;
    max-width: 500px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: rgba(160, 148, 148, 0.938);
    box-shadow: 0 5px 10px rgba(207, 62, 62, 0.05);
}
.display
{
    height: 80px;
    width: 400px;
    outline: none;
    border: none;
    background-color:rgba(160, 148, 148, 0.363);
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    color: #141414;
    pointer-events: none;
}
.buttons
{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
.buttons button{
    padding: 10px;
    border-radius: 6px;
    border:none;
    font-size: 20px;
    cursor: pointer;
    background-color: #ffffffab;
}
.buttons button:active{
    transform:scale(0.99);
}
.operator
{
    color:#2f9fff;
}